openapi: 3.1.0
info:
  title: Calculation API
  version: '1.0.0'
  description: |
    **Overview**  
    The Calculation API provides a single `calculate` endpoint for estimating greenhouse gas emissions from transporting cargo. 

    **Base URL**  
    https://api.terratwin.com/api/v1/transportation/emissions

    **Authentication**  
    Every request to this API requires authentication with an API key. 
    Add your key to the `x-api-key` header to identify and authorize your account.
    API keys can be obtained from your account dashboard at https://www.terratwin.com/account/settings/api-key-manager

    **Rate limits**  
    Each account is limited to 5 requests per second.
    Requests exceeding this threshold may be temporarily rejected with a `429 Too Many Requests` response. 
    You can retry after a short delay.

    **Cost**  
    The API uses a credit-based billing model.
    Each transport operation processed counts as 1 credit, including connector segments such as first-mile and last-mile road operations.
    Weighted-mode operations may expand into multiple component operations; in these cases, each child operation is charged as a separate credit.
    Air transport operations are billed as a single credit, even when the model inserts multiple stopovers automatically.
    Road sub-operations occurring as part of roll-on/roll-off ferry or train movements are included at no extra cost.
    Emissions associated with logistics hubs do not incur any credit charges.
  termsOfService: https://example.com/terms
  
servers:
  - url: https://api.terratwin.com/api/v1/transportation/emissions

paths:
  /calculate:
    post:
      summary: Calculate transport emissions
      operationId: calculate
      security:
        - ApiKeyAuth: []
      description: |
        Calculates greenhouse gas emissions for one or more transport operations.
        The endpoint supports the four core transport modes — `AIR`, `RAIL`, `ROAD`, and `WATER` — as well as a combination mode, 
        `WEIGHTED_MODES`, which allows multiple underlying modes to be prorated into a single combined operation. 
        Each transport operation in the request represents one leg of the cargo movement, 
        and you may submit a single operation or a sequence of operations within the same request.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalculateRequest'
            example:
              options:
                fallbackTransportModes:
                  - ROAD
                  - AIR

              cargo:
                category: GENERAL
                densityCharacteristics: LIGHT
                weight:
                  unit: KILOGRAM
                  value: 100

              origin:
                type: PLACE
                street: 10 Downing St
                postCode: SW1A 2AB
                city: London
                countryCode: GB

              destination:
                type: PLACE
                street: Wetstraat 175
                postCode: "1048"
                city: Brussel
                countryCode: BE

              transportChain:
                - type: WATER
                  departureDateTime: "2025-12-25T00:00:00+00:00"
                  arrivalDateTime: "2026-01-01T18:12:30Z"
                  vehicle: CONTAINER
                  containerTypeCode: "22G1"
                  navigationConstraints:
                    - AVOID_KIEL_CANAL
                    - AVOID_NORTHEAST_PASSAGE
                    - AVOID_NORTHWEST_PASSAGE
                  firstMile:
                    structure: ARTICULATED
                    grossWeight:
                      unit: METRIC_TONNE
                      value: 40.234
                    powerSource: DIESEL

                - type: HUB
                  hubType: MARITIME_CONTAINER_TERMINAL
                  location:
                    type: HARBOR
                    unLoCode: BEANR

                - type: RAIL
                  departureDateTime: "2026-01-02T10:00:00+01:00"
                  arrivalDateTime: "2026-01-02T22:00:00+01:00"
                  trainType: MANIFEST
                  powerSource: ELECTRICITY

      responses:
        '200':
          description: Emissions calculation successfully performed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CalculateResponse'
              example:
                origin:
                  type: PLACE
                  latitude: 51.503314
                  longitude: -0.127697

                destination:
                  type: PLACE
                  latitude: 50.842953
                  longitude: 4.380659

                activityDistanceKm: 432.7984446224102
                activityTonneKm: 43.27984446224102

                transportIntensities:
                  wttCo2eGramsPerTonneKm: 6.176233691763927
                  ttwCo2eGramsPerTonneKm: 25.426364262612015
                  wtwCo2eGramsPerTonneKm: 31.60259795437594

                transportEmissions:
                  wttCo2eGrams: 267.30643354199543
                  ttwCo2eGrams: 1100.4490905261316
                  wtwCo2eGrams: 1367.755524068127

                hubIntensities:
                  co2eGramsPerTonne: 4.766666666666666

                hubEmissions:
                  co2eGrams: 0.4766666666666666

                totalIntensities:
                  co2eGramsPerTonneKm: 31.606718425129685

                totalEmissions:
                  co2eGrams: 1367.9338574014603

                transportChain:
                  - type: WATER
                    start:
                      type: PLACE
                      latitude: 51.503314
                      longitude: -0.127697
                    end:
                      type: HARBOR
                      countryCode: BE
                      unLoCode: BEANR
                      latitude: 51.27936713324465
                      longitude: 4.3567657470703125
                      address: Antwerp
                    activityDistanceKm: 358.2482682667749
                    activityTonneKm: 35.824826826677494
                    transportIntensities:
                      wttCo2eGramsPerTonneKm: 5.890574508350232
                      ttwCo2eGramsPerTonneKm: 30.403778303609933
                      wtwCo2eGramsPerTonneKm: 36.29435281196016
                    transportEmissions:
                      wttCo2eGrams: 211.028811671288
                      ttwCo2eGrams: 1089.2100926035203
                      wtwCo2eGrams: 1300.2389042748082
                    hubIntensities:
                      co2eGramsPerTonne: 1.783333333333333
                    hubEmissions:
                      co2eGrams: 0.17833333333333332
                    totalIntensities:
                      co2eGramsPerTonneKm: 36.29435281196016
                    totalEmissions:
                      co2eGrams: 1300.2389042748082
                    elements:
                      - vehicle: ARTICULATED_TRUCK_40000_TO_44000_KG
                        start:
                          type: PLACE
                          latitude: 51.503314
                          longitude: -0.127697
                        end:
                          type: PLACE
                          latitude: 51.459472
                          longitude: 0.340663
                        activityDistanceKm: 44.7001
                        activityTonneKm: 4.47001
                        transportIntensities:
                          wttCo2eGramsPerTonneKm: 19
                          ttwCo2eGramsPerTonneKm: 65
                          wtwCo2eGramsPerTonneKm: 84
                        transportEmissions:
                          wttCo2eGrams: 84.93019000000001
                          ttwCo2eGrams: 290.55065
                          wtwCo2eGrams: 375.48084000000006
                        resultsByPowerSource:
                          - powerSource: DIESEL
                            activityDistanceKm: 44.7001
                            activityTonneKm: 4.47001
                            intensities:
                              wttCo2eGramsPerTonneKm: 19
                              ttwCo2eGramsPerTonneKm: 65
                              wtwCo2eGramsPerTonneKm: 84
                            emissions:
                              wttCo2eGrams: 84.93019000000001
                              ttwCo2eGrams: 290.55065
                              wtwCo2eGrams: 375.48084000000006
                        type: ROAD
                      - hubType: MARITIME_CONTAINER_TERMINAL
                        activityTonnes: 0.1
                        intensities:
                          co2eGramsPerTonne: 1.7833333333333332
                        emissions:
                          co2eGrams: 0.17833333333333332
                        type: HUB
                      - vehicle: CONTAINER
                        capacityBand: POST_PANAMAX
                        containerType: TWENTY_FOOT_CONTAINER
                        start:
                          type: HARBOR
                          countryCode: GB
                          unLoCode: GBTIL
                          latitude: 51.459502138725945
                          longitude: 0.3407907485961914
                          address: Tilbury
                        end:
                          type: HARBOR
                          countryCode: BE
                          unLoCode: BEANR
                          latitude: 51.27936713324465
                          longitude: 4.3567657470703125
                          address: Antwerp
                        activityDistanceKm: 313.5481682667749
                        activityTonneKm: 31.354816826677492
                        transportIntensities:
                          wttCo2eGramsPerTonneKm: 4.0216666666666665
                          ttwCo2eGramsPerTonneKm: 25.471666666666668
                          wtwCo2eGramsPerTonneKm: 29.493333333333332
                        transportEmissions:
                          wttCo2eGrams: 126.09862167128797
                          ttwCo2eGrams: 798.6594426035202
                          wtwCo2eGrams: 924.7580642748082
                        resultsByPowerSource:
                          - powerSource: VLSFO
                            activityDistanceKm: 313.5481682667749
                            activityTonneKm: 31.354816826677492
                            intensities:
                              wttCo2eGramsPerTonneKm: 4.0216666666666665
                              ttwCo2eGramsPerTonneKm: 25.471666666666668
                              wtwCo2eGramsPerTonneKm: 29.493333333333332
                            emissions:
                              wttCo2eGrams: 126.09862167128797
                              ttwCo2eGrams: 798.6594426035202
                              wtwCo2eGrams: 924.7580642748082
                        type: WATER

                  - hubType: MARITIME_CONTAINER_TERMINAL
                    activityTonnes: 0.1
                    intensities:
                      co2eGramsPerTonne: 1.7833333333333332
                    emissions:
                      co2eGrams: 0.17833333333333332
                    type: HUB

                  - type: RAIL
                    start:
                      type: PLACE
                      latitude: 51.278965
                      longitude: 4.356775
                    end:
                      type: PLACE
                      latitude: 50.842953
                      longitude: 4.380659
                    activityDistanceKm: 74.55017635563527
                    activityTonneKm: 7.455017635563529
                    transportIntensities:
                      wttCo2eGramsPerTonneKm: 7.548958918921911
                      ttwCo2eGramsPerTonneKm: 1.5075749611907923
                      wtwCo2eGramsPerTonneKm: 9.056533880112703
                    transportEmissions:
                      wttCo2eGrams: 56.277621870707435
                      ttwCo2eGrams: 11.23899792261136
                      wtwCo2eGrams: 67.5166197933188
                    hubIntensities:
                      co2eGramsPerTonne: 1.2
                    hubEmissions:
                      co2eGrams: 0.12
                    totalIntensities:
                      co2eGramsPerTonneKm: 9.056533880112703
                    totalEmissions:
                      co2eGrams: 67.5166197933188
                    elements:
                      - vehicle: URBAN_TRUCK
                        start:
                          type: PLACE
                          latitude: 51.278965
                          longitude: 4.356775
                        end:
                          type: PLACE
                          latitude: 51.278965
                          longitude: 4.35677
                        activityDistanceKm: 0.0003
                        activityTonneKm: 2.9999999999999997E-05
                        transportIntensities:
                          wttCo2eGramsPerTonneKm: 73.22033898305085
                          ttwCo2eGramsPerTonneKm: 241.77966101694915
                          wtwCo2eGramsPerTonneKm: 315
                        transportEmissions:
                          wttCo2eGrams: 0.0021966101694915253
                          ttwCo2eGrams: 0.0072533898305084735
                          wtwCo2eGrams: 0.00945
                        resultsByPowerSource:
                          - powerSource: DIESEL
                            activityDistanceKm: 0.0003
                            activityTonneKm: 2.9999999999999997E-05
                            intensities:
                              wttCo2eGramsPerTonneKm: 73.22033898305085
                              ttwCo2eGramsPerTonneKm: 241.77966101694915
                              wtwCo2eGramsPerTonneKm: 315
                            emissions:
                              wttCo2eGrams: 0.0021966101694915253
                              ttwCo2eGrams: 0.0072533898305084735
                              wtwCo2eGrams: 0.00945
                        type: ROAD
                      - hubType: TRANSSHIPMENT
                        activityTonnes: 0.1
                        intensities:
                          co2eGramsPerTonne: 0.6
                        emissions:
                          co2eGrams: 0.06
                        type: HUB
                      - vehicle: AVERAGE_TRAIN
                        start:
                          type: RAIL_YARD
                          countryCode: BE
                          latitude: 51.279002
                          longitude: 4.356769
                          address: ""
                        end:
                          type: RAIL_YARD
                          countryCode: BE
                          latitude: 50.842691
                          longitude: 4.380654
                          address: L161A
                        activityDistanceKm: 74.53587635563528
                        activityTonneKm: 7.453587635563529
                        transportIntensities:
                          wttCo2eGramsPerTonneKm: 7.53635960727719
                          ttwCo2eGramsPerTonneKm: 1.4614778198061045
                          wtwCo2eGramsPerTonneKm: 8.997837427083295
                        transportEmissions:
                          wttCo2eGrams: 56.172916785961675
                          ttwCo2eGrams: 10.893253007357123
                          wtwCo2eGrams: 67.06616979331879
                        resultsByPowerSource:
                          - powerSource: ELECTRICITY
                            activityDistanceKm: 70.68151401824215
                            activityTonneKm: 7.068151401824216
                            intensities:
                              wttCo2eGramsPerTonneKm: 7.479360000000002
                              ttwCo2eGramsPerTonneKm: 0
                              wtwCo2eGramsPerTonneKm: 7.479360000000002
                            emissions:
                              wttCo2eGrams: 52.865248868747976
                              ttwCo2eGrams: 0
                              wtwCo2eGrams: 52.865248868747976
                          - powerSource: DIESEL
                            activityDistanceKm: 3.854362337393138
                            activityTonneKm: 0.3854362337393138
                            intensities:
                              wttCo2eGramsPerTonneKm: 8.581621621621624
                              ttwCo2eGramsPerTonneKm: 28.262140540540546
                              wtwCo2eGramsPerTonneKm: 36.84376216216217
                            emissions:
                              wttCo2eGrams: 3.3076679172137013
                              ttwCo2eGrams: 10.893253007357123
                              wtwCo2eGrams: 14.200920924570823
                        type: RAIL
                      - hubType: TRANSSHIPMENT
                        activityTonnes: 0.1
                        intensities:
                          co2eGramsPerTonne: 0.6
                        emissions:
                          co2eGrams: 0.06
                        type: HUB
                      - vehicle: URBAN_TRUCK
                        start:
                          type: PLACE
                          latitude: 50.842887
                          longitude: 4.380823
                        end:
                          type: PLACE
                          latitude: 50.842953
                          longitude: 4.380659
                        activityDistanceKm: 0.014
                        activityTonneKm: 0.0014
                        transportIntensities:
                          wttCo2eGramsPerTonneKm: 73.22033898305085
                          ttwCo2eGramsPerTonneKm: 241.77966101694915
                          wtwCo2eGramsPerTonneKm: 315
                        transportEmissions:
                          wttCo2eGrams: 0.10250847457627121
                          ttwCo2eGrams: 0.33849152542372885
                          wtwCo2eGrams: 0.44100000000000006
                        resultsByPowerSource:
                          - powerSource: DIESEL
                            activityDistanceKm: 0.014
                            activityTonneKm: 0.0014
                            intensities:
                              wttCo2eGramsPerTonneKm: 73.22033898305085
                              ttwCo2eGramsPerTonneKm: 241.77966101694915
                              wtwCo2eGramsPerTonneKm: 315
                            emissions:
                              wttCo2eGrams: 0.10250847457627121
                              ttwCo2eGrams: 0.33849152542372885
                              wtwCo2eGrams: 0.44100000000000006
                        type: ROAD

                creditCost: 5

        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                title: Invalid JSON
                status: 400
                code: 2
                details:
                  - "Invalid JSON at 'cargo' (line 7, byte 26)"
                instance: /api/v1/transportation/emissions/calculate
                recommendation: Provide well formed JSON

        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                title: API key invalid
                status: 401
                code: 41
                details:
                  - "'...' is not a valid API key"
                instance: /api/v1/transportation/emissions/calculate
                recommendation: "Provide a valid API key. If you don’t have one, then apply to TerraTwin"

        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                title: Insufficient credits
                status: 403
                code: 42
                details:
                  - "Your account has no remaining credits"
                instance: /api/v1/transportation/emissions/calculate
                recommendation: Purchase additional credits from TerraTwin

        '422':
          description: Unprocessable entity
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                title: Not routable by rail
                status: 422
                code: 33
                details:
                  - "Operation 'transportChain[0]' could not be routed by rail between '50.68689,7.16285' and '-36.85209,174.76318'"
                instance: /api/v1/transportation/emissions/calculate
                recommendation: Review the mode of transport selected and the locations
        '429':
          description: Too many requests
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
              example:
                title: Rate limit exceeded
                status: 429
                code: 45
                details:
                  - "Too many requests. The limit is 5 requests per second"
                instance: /api/v1/transportation/emissions/calculate
                recommendation: Reduce your request rate to ≤ 5 requests/second
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Service unavailable
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'

# Components
components:
  securitySchemes:
      ApiKeyAuth:
        type: apiKey
        in: header
        name: x-api-key
        description: API key for authenticating requests. Include this header in all calls.

  schemas:
    CalculateRequest:
      type: object
      required:
        - cargo
      properties:
        options:
          $ref: '#/components/schemas/CalculationOptions'
        cargo:
          $ref: '#/components/schemas/Cargo'
        origin:
          $ref: '#/components/schemas/Location'
        destination:
          $ref: '#/components/schemas/Location'
        transportChain:
          type: array
          description: |
            Represents the sequence of transport and hub operations that define a complete multimodal logistics chain.

            **Structure**  
            The `transportChain` is an ordered array of elements describing how cargo moves between points.  
            - Each transport element represents a specific operation and has a `type` value of `AIR`, `RAIL`, `ROAD`, `WATER`, or `WEIGHTED_MODES`.  
            - Each hub element has a `type` of `HUB` and represents the connecting location between consecutive transport segments.

            **Behavior**  
            - If this array is not provided or is empty, fallback transport modes are attempted instead.
            The system will cycle through the fallback modes in order, applying default parameters for each until one succeeds or all fail.  
            - Hubs must appear between each pair of transport operations to define the connecting locations between them.  
            - Hubs may also appear as the first and/or last elements in the array. This allows a logistics hub to act as the origin or destination
            in place of the top-level `origin` and `destination` properties, enabling emissions to be attributed to those locations.

          items:
            oneOf:
              - $ref: '#/components/schemas/UnknownTransport'
              - $ref: '#/components/schemas/AirTransport'
              - $ref: '#/components/schemas/RailTransport'
              - $ref: '#/components/schemas/RoadTransport'
              - $ref: '#/components/schemas/WaterTransport'
              - $ref: '#/components/schemas/WeightedModesTransport'
              - $ref: '#/components/schemas/Hub'

    HubTypes:
      type: string
      enum:
        - NONE
        - TRANSSHIPMENT
        - STORAGE_AND_TRANSSHIPMENT
        - WAREHOUSE
        - LIQUID_BULK_TERMINAL
        - MARITIME_CONTAINER_TERMINAL
      x-enumDescriptions:
        NONE: No emissions
        TRANSSHIPMENT: |
          A facility where more than 80% of goods are transferred from one transport vehicle or mode to another with minimal or no long-term storage.
        STORAGE_AND_TRANSSHIPMENT: |
          A facility that combines cargo transfer and warehousing functions, with neither transshipment-only activities nor warehousing activities 
          accounting for more than 80% of the goods handled.
        WAREHOUSE: |
          A facility is a hub where more than 80% of goods are stored and processed—focusing on inventory management, order fulfillment, packaging, 
          and distribution rather than on cargo transfer between transport modes.
        LIQUID_BULK_TERMINAL: |
          A specialized facility designed for handling, transferring, and storing liquid raw materials or products (e.g., oil, chemicals).
        MARITIME_CONTAINER_TERMINAL: |
          A facility located at a harbor where cargo containers are transshipped between container ships and land based transport modes such as trains or trucks.

    DefaultHubTypes:
      title: Default hub types
      type: object
      description: |
        The default logistics hub types to insert between transport operations when automatic hub insertion is enabled (which it is by default).  

        Each property corresponds to a specific transition from one mode of transport to another and determines which hub type is used for that modal switch.  

        Setting a property to `NONE` disables hub insertion for that transition, meaning no hub emissions will be included between those two modes.
      properties:
        airToAir:
          $ref: '#/components/schemas/HubTypes'
          default: TRANSSHIPMENT
          description: Hub type used when cargo transfers from one aircraft to another.
        airToRail:
          $ref: '#/components/schemas/HubTypes'
          default: TRANSSHIPMENT
          description: Hub type used when cargo transfers from an aircraft to a train.
        airToRoad:
          $ref: '#/components/schemas/HubTypes'
          default: TRANSSHIPMENT
          description: Hub type used when cargo transfers from an aircraft to a road vehicle.
        airToWaterContainerized:
          $ref: '#/components/schemas/HubTypes'
          default: MARITIME_CONTAINER_TERMINAL
          description: Hub type used when cargo transfers from an aircraft to a maritime `CONTAINER` vessel.
        airToWaterNonContainerized:
          $ref: '#/components/schemas/HubTypes'
          default: TRANSSHIPMENT
          description: Hub type used when cargo transfers from an aircraft to a maritime vessel that is not a `CONTAINER` vessel.
        railToAir:
          $ref: '#/components/schemas/HubTypes'
          default: TRANSSHIPMENT
          description: Hub type used when cargo transfers from a train to an aircraft.
        railToRail:
          $ref: '#/components/schemas/HubTypes'
          description: |
            Hub type used when cargo transfers from one train to another.
            The default is `TRANSSHIPMENT` except for liquid cargo, which uses `LIQUID_BULK_TERMINAL`.
        railToRoad:
          $ref: '#/components/schemas/HubTypes'
          description: |
            Hub type used when cargo transfers from a train to a road vehicle.
            The default is `TRANSSHIPMENT` except for liquid cargo, which uses `LIQUID_BULK_TERMINAL`.
        railToWaterContainerized:
          $ref: '#/components/schemas/HubTypes'
          default: MARITIME_CONTAINER_TERMINAL
          description: Hub type used when cargo transfers from a train to a maritime `CONTAINER` vessel.
        railToWaterNonContainerized:
          $ref: '#/components/schemas/HubTypes'
          description: |
            Hub type used when cargo transfers from a train to a maritime vessel that is not a `CONTAINER` vessel.
            The default is `TRANSSHIPMENT` except for liquid cargo, which uses `LIQUID_BULK_TERMINAL`.
        roadToAir:
          $ref: '#/components/schemas/HubTypes'
          default: TRANSSHIPMENT
          description: Hub type used when cargo transfers from a road vehicle to an aircraft.
        roadToRail:
          $ref: '#/components/schemas/HubTypes'
          description: |
            Hub type used when cargo transfers from a road vehicle to a train.
            The default is `TRANSSHIPMENT` except for liquid cargo, which uses `LIQUID_BULK_TERMINAL`.
        roadToRoad:
          $ref: '#/components/schemas/HubTypes'
          description: |
            Hub type used when cargo transfers from one road vehicle to another.
            The default is `TRANSSHIPMENT` except for liquid cargo, which uses `LIQUID_BULK_TERMINAL`.
        roadToWaterContainerized:
          $ref: '#/components/schemas/HubTypes'
          default: MARITIME_CONTAINER_TERMINAL
          description: Hub type used when cargo transfers from a road vehicle to a maritime `CONTAINER` vessel.
        roadToWaterNonContainerized:
          $ref: '#/components/schemas/HubTypes'
          description: |
            Hub type used when cargo transfers from a road vehicle to a maritime vessel that is not a `CONTAINER` vessel.
            The default is `TRANSSHIPMENT` except for liquid cargo, which uses `LIQUID_BULK_TERMINAL`.
        waterContainerizedToAir:
          $ref: '#/components/schemas/HubTypes'
          default: MARITIME_CONTAINER_TERMINAL
          description: Hub type used when cargo transfers from a maritime `CONTAINER` vessel to an aircraft.
        waterContainerizedToRail:
          $ref: '#/components/schemas/HubTypes'
          default: MARITIME_CONTAINER_TERMINAL
          description: Hub type used when cargo transfers from a maritime `CONTAINER` vessel to a train.
        waterContainerizedToRoad:
          $ref: '#/components/schemas/HubTypes'
          default: MARITIME_CONTAINER_TERMINAL
          description: Hub type used when cargo transfers from a maritime `CONTAINER` vessel to a road vehicle.
        waterContainerizedToWaterContainerized:
          $ref: '#/components/schemas/HubTypes'
          default: MARITIME_CONTAINER_TERMINAL
          description: Hub type used when cargo transfers from one maritime `CONTAINER` vessel to another.
        waterContainerizedToWaterNonContainerized:
          $ref: '#/components/schemas/HubTypes'
          default: MARITIME_CONTAINER_TERMINAL
          description: Hub type used when cargo transfers from a maritime `CONTAINER` vessel to a maritime vessel that is not a `CONTAINER` vessel.
        waterNonContainerizedToAir:
          $ref: '#/components/schemas/HubTypes'
          default: TRANSSHIPMENT
          description: Hub type used when cargo transfers from a maritime vessel that is not a `CONTAINER` vessel to an aircraft.
        waterNonContainerizedToRail:
          $ref: '#/components/schemas/HubTypes'
          description: |
            Hub type used when cargo transfers from a maritime vessel that is not a `CONTAINER` vessel to a train.
            The default is `TRANSSHIPMENT` except for liquid cargo, which uses `LIQUID_BULK_TERMINAL`.
        waterNonContainerizedToRoad:
          $ref: '#/components/schemas/HubTypes'
          description: |
            Hub type used when cargo transfers from a maritime vessel that is not a `CONTAINER` vessel to a road vehicle.
            The default is `TRANSSHIPMENT` except for liquid cargo, which uses `LIQUID_BULK_TERMINAL`.
        waterNonContainerizedToWaterContainerized:
          $ref: '#/components/schemas/HubTypes'
          default: MARITIME_CONTAINER_TERMINAL
          description: Hub type used when cargo transfers from a maritime vessel that is not a `CONTAINER` vessel to a maritime `CONTAINER` vessel.
        waterNonContainerizedToWaterNonContainerized:
          $ref: '#/components/schemas/HubTypes'
          default: TRANSSHIPMENT
          description: Hub type used when cargo transfers from one maritime vessel that is not a `CONTAINER` vessel to another.

    CalculationOptions:
      title: Calculation options
      type: object
      description: |
        Used to customize emissions calculations and to control which details are included in the response.
      properties:
        hubInsertion:
          type: string
          default: AUTOMATIC_ON_ALL_TRANSITIONS
          description: |
            Controls how emissions from logistics hubs are modeled in the calculation.
            By default, logistics hubs are automatically inserted between every transport operation so that associated hub emissions are always included.  

            Set this option to `"MANUAL"` to disable automatic insertion and require hubs to be added explicitly.  
            
            Note that including hub emissions is a core requirement of ISO 14083, so disabling automatic hub insertion may lead to results that are not fully compliant.
          enum:
            - MANUAL
            - AUTOMATIC_ON_ALL_TRANSITIONS       
          x-enumDescriptions:
            MANUAL: Automatic hub insertion is disabled
            AUTOMATIC_ON_ALL_TRANSITIONS: Automatically inserts a logistics hub between every transport operation.

        defaultHubTypes:
          $ref: '#/components/schemas/DefaultHubTypes'

        fallbackTransportModes:
          type: array
          description: |
            Fallback transport modes are evaluated sequentially. 
            Each mode in the array is attempted one after another until one succeeds or all have failed. 
            Every attempt uses a fully defaulted configuration for the mode being tried. 
            If all modes fail, the error returned is the one produced by the final mode attempted.  

            This fallback mechanism is applied in the following situations:
            - When a transport operation is configured with an UNKNOWN transport type.
            - When a transport operation fails. Each mode in the array is attempted in order (excluding the mode that failed).
          items:
            type: string
            enum:
              - AIR
              - RAIL
              - ROAD
              - WATER
            x-enumDescriptions:
              AIR: Attempt to transport the cargo using aircraft.
              RAIL: Attempt to transport the cargo using a rail network.
              ROAD: Attempt to transport the cargo using a road network.
              WATER: Attempt to transport the cargo using a maritime vessel.

        includeRoutePolylines:
          type: boolean
          default: false
          description: |
            Whether to include route polylines in the results of ROAD, RAIL and WATER transport operations.
            When enabled, polylines are encoded using the Google Encoded Polyline Algorithm Format.

    Cargo:
      title: Cargo
      type: object
      description: |
        Defines the transported goods for which emissions are calculated. 
        Cargo parameters affect vehicle choice, load factors, and resulting emission estimates throughout the transport chain.
        Only the weight property is mandatory. Other properties will be defaulted if they are not provided. 
        However, the more detail provided, the more accurate the results will be.
      required:
        - weight
      properties:
        category:
          type: string
          description: High-level classification of the cargo. Used to select default vehicle classes and sizes automatically when specific transport details are not provided.
          default: GENERAL
          enum:
            - AUTOMOBILES
            - BUILDING_MATERIALS
            - CEREALS
            - COAL_AND_STEEL
            - GENERAL
            - LIQUEFIED_GAS
            - LIQUID_CHEMICALS
            - MANUFACTURED_PRODUCTS
            - OIL
            - REFRIGERATED_BULK
            - SOLID_CHEMICALS
          x-enumDescriptions:
            AUTOMOBILES: |
              Finished vehicles transported by specialized carriers. 
              Climate control is `AT_AMBIENT` by default. 
              The cargo density is characterized as `AVERAGE_MIXED` by default.
            BUILDING_MATERIALS: |
              Construction materials like cement, sand and gravel, bricks, stone, and lumber. 
              Climate control is `AT_AMBIENT` by default. 
              The cargo density is characterized as `HEAVY` by default. 
            CEREALS: | 
              Grain crops and similar agricultural bulk goods. 
              Climate control is `AT_AMBIENT` by default. 
              The cargo density is characterized as `HEAVY` by default. 
            COAL_AND_STEEL: |
              Extra heavy bulk where empty returns are almost always required. 
              Climate control is `AT_AMBIENT` by default. 
              The cargo density is characterized as `HEAVY` by default. 
            GENERAL: |
              Default category for unspecified or miscellaneous cargo types. 
              Climate control is `AT_AMBIENT` by default. 
              The cargo density is characterized as `AVERAGE_MIXED` by default.
            LIQUEFIED_GAS: |
              Gases liquefied for transport, such as LNG and LPG, carried in insulated or pressurized vessels. 
              Climate control is `AT_AMBIENT` by default as road tankers do not typically use active refrigeration systems. 
              The cargo density is characterized as `HEAVY` by default.
            LIQUID_CHEMICALS: |
              Materials in liquid form, typically transported in bulk using specialized tanks.
              Climate control is `AT_AMBIENT` by default. 
              The cargo density is characterized as `HEAVY` by default.
            MANUFACTURED_PRODUCTS: |
              Consumer or industrial goods produced by manufacturing, as opposed to raw materials. 
              Climate control is `AT_AMBIENT` by default. 
              The cargo density is characterized as `AVERAGE_MIXED` by default. 
            OIL: |
              Crude oil or refined petroleum products typically transported in bulk. 
              Climate control is `AT_AMBIENT` by default. 
              The cargo density is characterized as `HEAVY` by default. 
            REFRIGERATED_BULK: |
              Perishable goods that must be kept cold during transit. 
              Climate control is `REQUIRED` by default. 
              The cargo density is characterized as `AVERAGE_MIXED` by default.
            SOLID_CHEMICALS: |
              Powders, granules, pellets, or other solid packaged chemicals typically handled and shipped as dry bulk materials. 
              Climate control is `AT_AMBIENT` by default. 
              The cargo density is characterized as `HEAVY` by default.

        densityCharacteristics:
          type: string
          description: |
            Indicates the typical mass density of the cargo. Used in emissions calculations for container terminal hubs, rail and road transportation.
            Defaults according to category if unspecified.
          enum:
            - LIGHT
            - AVERAGE_MIXED
            - HEAVY            
          x-enumDescriptions:
            LIGHT: Low-density cargo that “cubes out before it weighs out” like furniture, clothing and footwear. Defined as 6 tonnes per TEU.
            AVERAGE_MIXED: Medium-density or mixed cargo. Defines at 10 tonnes per TEU. 
            HEAVY: High-density cargo that is tightly packed like metals and raw or bulk commodities.

        climateControl:
          type: string
          description: |
            Defines if the cargo must be transported under active climate control. When set to `REQUIRED`, emissions calculations include the added energy use
            from refrigeration or other powered temperature regulation systems.
            Defaults according to category if unspecified.
          enum:
            - AT_AMBIENT
            - REQUIRED
          x-enumDescriptions:
            AT_AMBIENT: Cargo is carried under natural temperature conditions without active cooling or heating.
            REQUIRED: Cargo requires active temperature regulation, such as mechanical refrigeration, during transport.

        weight:
          type: object
          description: |
            The shipment mass in air (i.e., uncorrected for buoyancy or displacement effects) that quantifies the amount of goods being transported.
            The weight should include the goods and the packaging provided for transport by the shipper, 
            but not any additional packaging or handling equipment used by the carrier or LSP, such as pallets or containers.
          required:
            - value
            - unit
          properties:
            value:
              type: number
              format: double
              description: Numeric value representing the cargo’s net mass in air.
            unit:
              type: string
              description: Unit of measurement for the cargo’s mass, in either metric or U.S. customary units.
              enum:
                - KILOGRAM
                - POUND
                - METRIC_TONNE
                - US_SHORT_TON
              x-enumDescriptions:
                KILOGRAM: Measure in kilograms.
                POUND: Measure in U.S. customary / imperial pounds.
                METRIC_TONNE: Measure in metric tonnes (1000 kg).
                US_SHORT_TON: Measure in U.S. customary short tons (two thousand pounds).

    Location:
      title: Location
      type: object
      description: |
        Locations resolve either to a transport facility (airport, harbor, or rail yard) or 
        to a general geographic area such as a building, street, postcode, or city. 
        For larger areas, centroids are used to represent the approximate position.  

        **Identification and geocoding**  
        - Airports and harbors can be identified directly by code (`iataCode` for airports,
        `unLoCode` for harbors).  
        - Otherwise, the location is geocoded based on the available address components,
        and if the `type` is not `PLACE`, the closest transport facility of the indicated
        type is selected.  

        **Geocoding priority**  
        When multiple data sources are provided, they are evaluated in the following order
        of preference:
        1. Geographic coordinates (latitude and longitude)  
        2. IATA code (for non-airport locations)  
        3. Structured address components  
        4. UN/LOCODE (for non-harbor locations)  
        5. Unstructured address text  

        Geocoding accuracy depends on the quality and completeness of the input. Structured addresses 
        almost always yield better results and are tolerant of minor data-entry errors, such as postcodes
        appearing in street fields. For both structured and unstructured inputs, the most probable match
        is selected based on lexicographical similarity to known locations.  

        **Operational behavior**  
        When a transport facility is specified directly, it will be used regardless of any transport vehicle 
        specified. The system does not enforce suitability constraints. For example, a large aircraft such as 
        a Boeing 747-8F may be routed to Gibraltar International (LXGB) despite its short runways. 
        If the airport were not explicitly chosen, the system would instead select a nearby suitable airport such 
        as Málaga-Costa del Sol (AGP).  
          
        Similarly, a container vessel may be routed to Plymouth (GBPLY) even though the port lacks container handling 
        facilities. If the port were not specified explicitly, a capable alternative such as Southampton (GBSOU) 
        would be selected automatically.
      required:
        - type
      properties:
        type:
          type: string
          description: |
            Defines the category of the location, distinguishing between transport facilities such as airports, harbors, and rail yards, 
            and general places such as buildings, streets, postcodes, or cities.
          enum:
            - PLACE
            - AIRPORT
            - RAIL_YARD
            - HARBOR
          x-enumDescriptions:
            PLACE: |
              **General place**  
              The location is resolved to a general geographic point such as a building, street, postcode area, or city, rather than to a transport facility.  

              For transport modes other than road, first and last-mile routing will typically occur between this place and an automatically selected airport, harbor, or rail yard.
            AIRPORT: |
              **Airport**  
              - If an IATA code (`iataCode`) is provided, the corresponding airport is looked up directly.  
              - If a UN/LOCODE (`unLoCode`) is provided, it is resolved to its published coordinates, and the nearest eligible airport to that point is selected.  
              - Otherwise, the location is geocoded and matched to the nearest eligible airport — typically a commercial or regional airport of reasonable size, not a small private airstrip.  

              For locations set to this type, there is no first or last-mile routing to or from the airport.  
              Aircraft selection is unrestricted, even if the system deems the airport's runways unsuitable for the selected aircraft.  
              This enables the explicit override of built-in runway suitability assessments, typically for cases where the aircraft is operating below its maximum payload or fuel capacity.
            RAIL_YARD: |
              **Rail yard**  
              - The location is geocoded and matched to the nearest rail facility or network connection point.  
              - If a UN/LOCODE (`unLoCode`) or IATA airport code (`iataCode`) is provided, it is resolved to coordinates, and the nearest rail facility or network connection to that point is selected.  

              For locations set to this type, there is no first or last-mile routing to or from the rail yard.  
              Rail yards are not identified by a specific code; to reference one directly, provide a structured address or geographic coordinates.
            HARBOR: |
              **Harbor**  
              - If a UN/LOCODE (`unLoCode`) is provided, the harbor is looked up directly.  
              - If an IATA airport code (`iataCode`) is provided, it is resolved to coordinates, and the nearest harbor to that point is selected.  
              - Otherwise, the location is geocoded and matched to the nearest harbor in the system.  

              For locations set to this type, there is no first or last-mile routing to or from the harbor.  
              Vessel selection is unrestricted, even if the system determines that the harbor cannot accommodate the vessel’s class or size.  
              This enables the explicit override of built-in harbor capability constraints, typically for special operational circumstances such as partial-load, repositioning, or coastal operations.        
        latitude:
          type: number
          format: double
          description: Latitude in decimal degrees (WGS 84 — EPSG:4326), range -90 to 90.
        longitude:
          type: number
          format: double
          description: Longitude in decimal degrees (WGS 84 — EPSG:4326), range -180 to 180.
        iataCode:
          type: string
          description: |
            Three-letter IATA airport code. Case-insensitive; normalized to uppercase, e.g., 
            - `LAX`
            - `LHR`
        unLoCode:
          type: string
          description: |
            UN/LOCODE for the location. Accepts either a 3-letter (will be prefixed with the country code) or a full 5-letter code.
            Case-insensitive; normalized to uppercase.
          oneOf:
            - type: string
              description: |
                The full 5-character code, e.g., 
                - `USNYC`
                - `FRPAR`
              minLength: 5
              maxLength: 5   
            - type: string
              description: |
                3-letter location code. Prefixed with the ISO 3166-1 alpha-2 country code derived from the `countryCode` to build the full 5-character code, e.g., 
                - `NYC` (paired with `US` to give `USNYC`)
                - `PAR` (paired with `FR` to give `FRPAR`)
              minLength: 3
              maxLength: 3
        street:
          type: string
          description: |
            Street name and number (if available), or the name of a recognized landmark for the location, e.g.,
            - `1600 Pennsylvania Ave NW`
            - `Château de Versailles`
            - `Platz der Republik 1`
        postcode:
          type: string
          description: |
            Postal or ZIP code identifying the area of the location. Format varies by country, e.g.,
            - `90210` *(Beverly Hills)*
            - `WC2N 5DU` *(Trafalgar Square)*
        city:
          type: string
          description: |
            City, town, or municipality where the location is situated, e.g.,
            - `Berlin`
            - `Paris`
            - `New York`
        region:
          type: string
          description: |
            Administrative area (state/province/county/territory); optional, but can improve geocoding accuracy, e.g.,
            write the description here
            - `Bretagne`
            - `Ontario`
            - `Bavaria`
        countryCode:
          type: string
          description: ISO 3166-1 country code; accepts alpha-2, alpha-3, or numeric forms.
          oneOf:
            - type: string
              description: |
                Two-letter [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code, e.g.,
                - `US` *(United States)*
                - `FR` *(France)*
                - `GB` *(United Kingdom)*
              minLength: 2
              maxLength: 2   
            - type: string
              description: |
                Three-letter [ISO 3166-1 alpha-3](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3) country code, e.g.,
                - `USA` *(United States)*
                - `FRA` *(France)*
                - `GBR` *(United Kingdom)*
              minLength: 3
              maxLength: 3   
            - type: string
              description: |
                Three-digit [ISO 3166-1 numeric](https://en.wikipedia.org/wiki/ISO_3166-1_numeric) country code, e.g.,
                - `840` *(United States)*
                - `250` *(France)*
                - `826` *(United Kingdom)*
              minLength: 3
              maxLength: 3   
              pattern: '^[0-9]{3}$'
        address:
          type: string
          description: |
            Full unstructured address string containing the complete location as written (street/number, postcode, city, region). 
            Commonly derived from shipping documents, customer records, or other unstructured data sources where the address was not captured in separate fields.
            Country need not be included - it will be appended automatically, e.g.,
            - `1600 Pennsylvania Avenue NW Washington DC 20500`
            - `Platz der Republik 1 11011 Berlin Deutschland`
            - `Calle de Bailén, s/n, 28071 Madrid`
      anyOf:
        - title: Coordinates
          type: object
          required:
            - latitude
            - longitude
        - title: IATA code
          type: object
          required:
            - iataCode
        - title: UN/LOCODE
          type: object
          required:
            - unLoCode
        - title: Unstructured address
          type: object
          required:
            - address
            - countryCode
        - title: Structured address
          type: object
          required:
            - street
            - postcode
            - city
            - countryCode
        - title: Street & city
          type: object
          required:
            - street
            - city
            - countryCode
        - title: Street & postcode
          type: object
          required:
            - street
            - postcode
            - countryCode
        - title: Postcode
          type: object
          required:
            - postcode
            - countryCode
        - title: City
          type: object
          required:
            - city
            - countryCode

    UnknownTransport:
      title: "Unknown transport"
      type: object
      required:
        - type
      properties:
        type:
          type: string
          enum:
            - UNKNOWN
          description: |
            Indicates that no transport mode or mode-specific parameters were provided.
            When this type is used, the system attempts to infer the operation by evaluating a predefined sequence of fallback transport modes.  
            **Fallback transport mode logic**
            - The system evaluates each fallback mode in order, using defaulted parameters for that mode.
            - The first mode that manages to successfully route and calculate emissions is selected.
            - If all modes fail, the request will fail.

            **Fallback mode sources**
            - If the request specifies `options.fallbackTransportModes`, the system uses them in the provided order.
            - If not specified, the system will apply the built-in default fallback sequence:  
              1. `ROAD`. Mode-specific defaults are documented in the *Road transport* section.
              2. `WATER`. Mode-specific defaults are documented in the *Water transport* section.
              3. `AIR`. Mode-specific defaults are documented in the *Air transport* section.

    AirTransport:
      title: "Air transport"
      type: object
      required:
        - type
      properties:
        type:
          type: string
          enum:
            - AIR
          description: |
            Transport by aircraft.  

            **Aircraft selection**  
            When `vehicle` is omitted, a generic aircraft emissions factor is used.  
              - Uses a generic belly freight emissions factor if `aircraftType` is `PASSENGER`.  
              - Uses a generic freighter emissions factor if `aircraftType` is `FREIGHTER`.  
              - Defaults to a composite emissions factor if `aircraftType` is unspecified.  

            **Generic aircraft classes**
            The system models the maximum payload range and runway requirements of the three types of generic aircraft with five 
            standardized aircraft classes per type:
              1. Wide-body long-haul aircraft  
                - Requires long concrete or bitumen runways.  
                - Range representative of typical long-haul twin/quad jets.  
              2. Narrow-body medium-haul aircraft  
                - Requires at least medium-length concrete or bitumen runways.  
                - Range representative of common single-aisle jets.  
              3. Regional short-haul aircraft  
                - Requires at least short-length concrete or bitumen runways.  
                - Range representative of regional jets and turboprops.
              4. All-terrain STOL aircraft  
                - Requires at minimum short-length runways of any surface (grass, sand, coral, etc.).  
                - Range representative of short-field turboprop aircraft.
              5. All-terrain VSTOL aircraft  
                - Requires at minimum extremely short runways of any surface (grass, sand, coral, etc.).  
                - Range is very limited.

            **Airport selection**
            - If the start or end location is already an airport, it will be used as provided,
              even if its runway lengths cannot accommodate the specified aircraft or class
              (takeoff/landing field length constraints are not enforced).
            - If the start or end location is not an airport, an airport will be selected automatically. Selection is based on:
              - Aircraft compatibility. If a specific aircraft is selected, compatibility is determined based on that aircraft’s runway requirements.  
                If a generic aircraft is used, all airports are considered compatible thanks to the five aircraft classes covering all types of airport.
                After airport selection, the appropriate generic aircraft class is chosen based on the capabilities of the selected airports, 
                using the largest class they can support.
              - Distance from the given location to candidate airports. Shorter distances are preferred.
              - Whether traveling to or from the airport would cross a customs border. 
                Airports requiring a customs-border crossing are highly penalized in the selection process.
              - Airport size and runway length. High capacity airports with longer runways are preferred over smaller ones.
              
            **Automatic stopovers**  
            Automatic stopovers are inserted when a direct flight cannot be operated due to aircraft performance limits or political restrictions.
            - Triggered when the great-circle distance (plus routing margin) exceeds the maximum payload range of the aircraft or aircraft class.
            - Triggered when long-term airspace closures or sanctions prevent direct travel between the departure and arrival airports 
              (e.g., post-2022 restrictions between Western Europe and Russia).
            - Selected from airports that meet aircraft or aircraft class’s runway requirements and minimize deviation from the shortest feasible route.
            - When a generic aircraft is used, the aircraft class is re-determined at each stopover:
              - For each flight segment, the system selects the largest aircraft class supported by both the departure airport and the stopover airport.  
              - So, while the first segment might have to use a smaller class when (e.g., due to short or unpaved runways),
                later segments may use a larger class with far greater range, reducing the number of required stopovers.
            - A logistics hub with transshipment emissions is automatically added at each stopover unless the request’s `options.intermodalHubs` is set
              to `MANUAL` or `options.defaultHubTypes.airToAir` is set to `NONE`.

            **Automatic first and last mile connections**  
            - When the start or end location is not an airport, a road transport operation
              is automatically added to connect the location to the selected departure or arrival airport.  
            - If a `firstMile` or `lastMile` object is provided then road vehicle configuration is taken directly from the corresponding object.
            - If `firstMile` or `lastMile` is not provided then the system automatically selects an appropriate road vehicle based on:
              - Country of operation
              - Cargo category
              - Trip distance
              - Cargo weight

            **Fallback on failure**  
            If an air route cannot be generated because, for example:
            - No airport can be reached from the start or end locations.
            - The aircraft does not have sufficient range to reach the destination or any stopover airport.  

            Then the system will attempt alternative modes of transport when the request `options.fallbackTransportModes` is provided.
            - Each mode except `AIR` in the `options.fallbackTransportModes` array will be attempted in listed order.
            - The process will stop when a mode succeeds, and the calculated emissions for that mode will be returned.
            - If every fallback attempt fails, the system returns the error produced by the final mode in the sequence.

        departureDateTime:
          type: string
          description: |
            When the aircraft departed its origin airport.

            **Format**  
            ISO 8601 extended format date/time string in one of the following formats.
              - Local date/time (no offset), e.g. `2024-11-17T14:32`
              - UTC (Zulu) time, e.g. `2024-11-17T14:32`
              - Offset time, e.g. `2024-11-17T14:32+01:00`

            **Offset management**  
              - Local times are automatically converted to offset times based on the origin airport's timezone.
                  Example (origin JFK): `2025-03-28T09:00` → `2025-03-28T09:00-04:00`  
              - UTC times are automatically converted to offset times based on the origin airport's timezone.
                  Example (origin JFK): `2025-03-28T13:00Z` → `2025-03-28T09:00-04:00`  

            **Supported precision**
              - Milliseconds: `2025-04-17T14:32:45.123+01:00`
              - Seconds: `2025-04-17T14:32:45+01:00`
              - Minutes: `2025-04-17T14:32+01:00`
              - Hours: `2025-04-17T14+01:00`
              - Date only: `2025-04-17`              

        arrivalDateTime:
          type: string
          description: |
            When the aircraft arrived its destination airport.

            **Format**  
            ISO 8601 extended format date/time string in one of the following formats.
              - Local date/time (no offset), e.g. `2024-11-17T14:32`
              - UTC (Zulu) time, e.g. `2024-11-17T14:32`
              - Offset time, e.g. `2024-11-17T14:32+01:00`

            **Offset management**  
              - Local times are automatically converted to offset times based on the destination airport's timezone.
                  Example (destination JFK): `2025-03-28T09:00` → `2025-03-28T09:00-04:00`  
              - UTC times are automatically converted to offset times based on the destination airport's timezone.
                  Example (destination JFK): `2025-03-28T13:00Z` → `2025-03-28T09:00-04:00`  

            **Supported precision**
              - Milliseconds: `2025-04-17T14:32:45.123+01:00`
              - Seconds: `2025-04-17T14:32:45+01:00`
              - Minutes: `2025-04-17T14:32+01:00`
              - Hours: `2025-04-17T14+01:00`
              - Date only: `2025-04-17`              

        aircraftType:
          type: string
          description: |
            Identifies the category of aircraft operation used for emissions estimation.
            Distinct ICAO computational methodologies are applied for passenger and
            freighter aircraft, yielding materially different emissions results.  

            Used in conjunction with the `vehicle` property when the aircraft is referenced by 
            ICAO or IATA code as these often do not distinguish between passenger and freighter configurations.
          enum:
            - PASSENGER
            - FREIGHTER
          x-enumDescriptions:
            PASSENGER: |
              An aircraft that carries freight in its belly hold alongside passengers.  
              Calculations use the ICAO freighter algorithm, adjusted for belly-freight characteristics.  
              When no `vehicle` is specified, a representative belly-freight emissions factor is used.
            FREIGHTER: |
              An aircraft that is purpose-built to carry freight or converted from a passenger aircraft.  
              Calculations use the ICAO freighter algorithm, and default to a generic freighter emissions factor when `vehicle` is not provided.

        vehicle:
          type: string
          description: |
            Identifies the aircraft used for emissions and performance calculations.

            **Accepted identifiers**
              - System identifier — A unique model id from this system.
              - ICAO code — A 4-character (occasionally 3-character) alphanumeric aircraft type designator (Doc 8643) 
                that identifies an aircraft type or closely related sub-types.
              - IATA code — A 3-character alphanumeric equipment code that identifies an aircraft type of group of variants.

            **Disambiguation**
              - When an ICAO or IATA code is supplied that maps to both passenger and freighter variants, `aircraftType` can be used to disambiguate.
              - If an ICAO or IATA code still maps to multiple aircraft models after applying `aircraftType`, the system selects the most commonly
                operated model based on global fleet counts.
              - If `aircraftType` is omitted and a given ICAO/IATA code corresponds to both passenger and freighter variants, emissions will be calculated for
                both variants.
                The final emissions result will be produced by combining the passenger and freighter outputs and weighting them according to the IATA
                Global International Available Cargo Tonne-Kilometers (ACTK) shares by cargo business type for:  
                  - the year of departure, or  
                  - the year of arrival if departure is not provided, or  
                  - the current year if neither date is available.

            <details>
            <summary style="font-weight: bold">Airbus aircraft</summary>

            | System Identifier                              | ICAO code | IATA code |
            |------------------------------------------------|-----------|-----------|
            | `AIRBUS_A220_100_BELLY_FREIGHT`                | `BCS1`    | `221`     |
            | `AIRBUS_A220_300_BELLY_FREIGHT`                | `BCS3`    | `223`     |
            | `AIRBUS_A300_600_BELLY_FREIGHT`                | `A306`    | `AB6`     |
            | `AIRBUS_A300_600F_FREIGHTER`                   | `A306`    | `ABY`     |
            | `AIRBUS_A300_B2_BELLY_FREIGHT`                 | `A30B`    | `AB4`     |
            | `AIRBUS_A300_B4_BELLY_FREIGHT`                 | `A30B`    | `AB4`     |
            | `AIRBUS_A300B4_200F_FREIGHTER`                 | `A30B`    | `ABX`     |
            | `AIRBUS_A310_200_BELLY_FREIGHT`                | `A310`    | `312`     |
            | `AIRBUS_A310_200F_FREIGHTER`                   | `A310`    | `31X`     |
            | `AIRBUS_A310_300_BELLY_FREIGHT`                | `A310`    | `313`     |
            | `AIRBUS_A310_300F_FREIGHTER`                   | `A310`    | `31Y`     |
            | `AIRBUS_A318_BELLY_FREIGHT`                    | `A318`    | `318`     |
            | `AIRBUS_A319_BELLY_FREIGHT`                    | `A319`    | `319`     |
            | `AIRBUS_A319_NEO_BELLY_FREIGHT`                | `A19N`    | `31N`     |
            | `AIRBUS_A320_BELLY_FREIGHT`                    | `A320`    | `320`     |
            | `AIRBUS_A320_NEO_BELLY_FREIGHT`                | `A20N`    | `32N`     |
            | `AIRBUS_A320_P2F_FREIGHTER`                    | `A320`    | `32A`     |
            | `AIRBUS_A320_SHARKLETS_BELLY_FREIGHT`          | `A320`    | `32A`     |
            | `AIRBUS_A321_BELLY_FREIGHT`                    | `A321`    | `321`     |
            | `AIRBUS_A321_NEO_BELLY_FREIGHT`                | `A21N`    | `32Q`     |
            | `AIRBUS_A321_P2F_FREIGHTER`                    | `A321`    | `32B`     |
            | `AIRBUS_A321_SHARKLETS_BELLY_FREIGHT`          | `A321`    | `32B`     |
            | `AIRBUS_A321F_FREIGHTER`                       | `A321`    | `32B`     |
            | `AIRBUS_A330_200_BELLY_FREIGHT`                | `A332`    | `332`     |
            | `AIRBUS_A330_200F_FREIGHTER`                   | `A332`    | `33X`     |
            | `AIRBUS_A330_300_BELLY_FREIGHT`                | `A333`    | `333`     |
            | `AIRBUS_A330_300_P2F_FREIGHTER`                | `A333`    | `33Y`     |
            | `AIRBUS_A330_800_NEO_BELLY_FREIGHT`            | `A338`    | `338`     |
            | `AIRBUS_A330_900_NEO_BELLY_FREIGHT`            | `A339`    | `339`     |
            | `AIRBUS_A330_P2F_FREIGHTER`                    | `A332`    | `33X`     |
            | `AIRBUS_A340_200_BELLY_FREIGHT`                | `A342`    | `342`     |
            | `AIRBUS_A340_300_BELLY_FREIGHT`                | `A343`    | `343`     |
            | `AIRBUS_A340_500_BELLY_FREIGHT`                | `A345`    | `345`     |
            | `AIRBUS_A340_600_BELLY_FREIGHT`                | `A346`    | `346`     |
            | `AIRBUS_A350_900_BELLY_FREIGHT`                | `A359`    | `359`     |
            | `AIRBUS_A350_1000_BELLY_FREIGHT`               | `A35K`    | `351`     |
            | `AIRBUS_A380_BELLY_FREIGHT`                    | `A388`    | `380`     |

            </details>

            <details>
            <summary style="font-weight: bold">Antonov aircraft</summary>

            | System Identifier                              | ICAO code | IATA code |
            |------------------------------------------------|-----------|-----------|
            | `ANTONOV_AN_24_BELLY_FREIGHT`                  | `AN24`    | `AN4`     |
            | `ANTONOV_AN_24_FREIGHTER`                      | `AN24`    | `AN4`     |
            | `ANTONOV_AN_26_FREIGHTER`                      | `AN26`    | `A26`     |
            | `ANTONOV_AN_28_FREIGHTER`                      | `AN28`    | `A28`     |
            | `ANTONOV_AN_32_FREIGHTER`                      | `AN32`    | `A32`     |
            | `ANTONOV_AN_72_FREIGHTER`                      | `AN72`    | `AN7`     |
            | `ANTONOV_AN_74_FREIGHTER`                      | `AN72`    | `AN7`     |
            | `ANTONOV_AN_124_FREIGHTER`                     | `A124`    | `A4F`     |
            | `ANTONOV_AN_140_FREIGHTER`                     | `A140`    | `A40`     |
            | `ANTONOV_AN_148_BELLY_FREIGHT`                 | `A148`    | `A81`     |

            </details>

            <details>
            <summary style="font-weight: bold">ATR aircraft</summary>

            | System Identifier                              | ICAO code | IATA code |
            |------------------------------------------------|-----------|-----------|
            | `ATR_42_300_BELLY_FREIGHT`                     | `AT43`    | `AT4`     |
            | `ATR_42_320_BELLY_FREIGHT`                     | `AT43`    | `AT4`     |
            | `ATR_42_400_BELLY_FREIGHT`                     | `AT44`    | `ATD`     |
            | `ATR_42_500_BELLY_FREIGHT`                     | `AT45`    | `AT5`     |
            | `ATR_42_600_BELLY_FREIGHT`                     | `AT46`    | `ATR`     |
            | `ATR_42_FREIGHTER`                             | `AT43`    | `AT4`     |
            | `ATR_72_200_BELLY_FREIGHT`                     | `AT72`    | `AT7`     |
            | `ATR_72_210_BELLY_FREIGHT`                     | `AT73`    | `ATR`     |
            | `ATR_72_500_BELLY_FREIGHT`                     | `AT75`    | `ATR`     |
            | `ATR_72_600_BELLY_FREIGHT`                     | `AT76`    | `ATR`     |
            | `ATR_72_FREIGHTER`                             | `AT72`    | `ATF`     |

            </details>

            <details>
            <summary style="font-weight: bold">Avro aircraft</summary>

            | System Identifier                              | ICAO code | IATA code |
            |------------------------------------------------|-----------|-----------|
            | `AVRO_RJ70_BELLY_FREIGHT`                      | `RJ70`    | `AR7`     |
            | `AVRO_RJ85_BELLY_FREIGHT`                      | `RJ85`    | `AR8`     |
            | `AVRO_RJ100_BELLY_FREIGHT`                     | `RJ1H`    | `AR1`     |

            </details>

            <details>
            <summary style="font-weight: bold">Boeing aircraft</summary>

            | System Identifier                              | ICAO code | IATA code |
            |------------------------------------------------|-----------|-----------|
            | `BOEING_717_BELLY_FREIGHT`                     | `B712`    | `717`     |
            | `BOEING_727_200F_FREIGHTER`                    | `B722`    | `72Y`     |
            | `BOEING_737_100_BELLY_FREIGHT`                 | `B731`    | `731`     |
            | `BOEING_737_200_BELLY_FREIGHT`                 | `B732`    | `732`     |
            | `BOEING_737_200F_FREIGHTER`                    | `B732`    | `73X`     |
            | `BOEING_737_300_BELLY_FREIGHT`                 | `B733`    | `733`     |
            | `BOEING_737_300F_FREIGHTER`                    | `B733`    | `73Y`     |
            | `BOEING_737_300SP_BELLY_FREIGHT`               | `B733`    | `73C`     |
            | `BOEING_737_400_BELLY_FREIGHT`                 | `B734`    | `734`     |
            | `BOEING_737_400F_FREIGHTER`                    | `B734`    | `73P`     |
            | `BOEING_737_500_BELLY_FREIGHT`                 | `B735`    | `735`     |
            | `BOEING_737_500SP_BELLY_FREIGHT`               | `B735`    | `73E`     |
            | `BOEING_737_600_BELLY_FREIGHT`                 | `B736`    | `736`     |
            | `BOEING_737_700_BELLY_FREIGHT`                 | `B737`    | `73G`     |
            | `BOEING_737_700_WINGLETS_BELLY_FREIGHT`        | `B737`    | `73W`     |
            | `BOEING_737_700CF_FREIGHTER`                   | `B737`    | `73R`     |
            | `BOEING_737_800_BELLY_FREIGHT`                 | `B738`    | `738`     |
            | `BOEING_737_800_WINGLETS_BELLY_FREIGHT`        | `B738`    | `73H`     |
            | `BOEING_737_800BCF_FREIGHTER`                  | `B738`    | `7F8`     |
            | `BOEING_737_800SF_FREIGHTER`                   | `B738`    | `73K`     |
            | `BOEING_737_900_BELLY_FREIGHT`                 | `B739`    | `739`     |
            | `BOEING_737_900_WINGLETS_BELLY_FREIGHT`        | `B739`    | `73J`     |
            | `BOEING_737_MAX_8_BELLY_FREIGHT`               | `B38M`    | `7M8`     |
            | `BOEING_737_MAX_9_BELLY_FREIGHT`               | `B39M`    | `7M9`     |
            | `BOEING_747_100SF_FREIGHTER`                   | `B741`    | `74T`     |
            | `BOEING_747_200_BELLY_FREIGHT`                 | `B742`    | `742`     |
            | `BOEING_747_200F_FREIGHTER`                    | `B742`    | `74X`     |
            | `BOEING_747_200SF_FREIGHTER`                   | `B742`    | `74X`     |
            | `BOEING_747_300_BELLY_FREIGHT`                 | `B743`    | `743`     |
            | `BOEING_747_300SF_FREIGHTER`                   | `B743`    | `74U`     |
            | `BOEING_747_400_BELLY_FREIGHT`                 | `B744`    | `744`     |
            | `BOEING_747_400BCF_FREIGHTER`                  | `B744`    | `74Y`     |
            | `BOEING_747_400BDSF_FREIGHTER`                 | `B744`    | `74Y`     |
            | `BOEING_747_400ERF_FREIGHTER`                  | `B744`    | `74Y`     |
            | `BOEING_747_400F_FREIGHTER`                    | `B744`    | `74Y`     |
            | `BOEING_747_8F_FREIGHTER`                      | `B748`    | `74N`     |
            | `BOEING_747_8I_BELLY_FREIGHT`                  | `B748`    | `74H`     |
            | `BOEING_757_200_BELLY_FREIGHT`                 | `B752`    | `752`     |
            | `BOEING_757_200_WINGLETS_BELLY_FREIGHT`        | `B752`    | `75W`     |
            | `BOEING_757_200F_FREIGHTER`                    | `B752`    | `75F`     |
            | `BOEING_757_200PCF_FREIGHTER`                  | `B752`    | `75F`     |
            | `BOEING_757_200PF_FREIGHTER`                   | `B752`    | `75F`     |
            | `BOEING_757_200SF_FREIGHTER`                   | `B752`    | `75F`     |
            | `BOEING_757_300_BELLY_FREIGHT`                 | `B753`    | `753`     |
            | `BOEING_757_300_WINGLETS_BELLY_FREIGHT`        | `B753`    | `75T`     |
            | `BOEING_767_200_BELLY_FREIGHT`                 | `B762`    | `762`     |
            | `BOEING_767_200_FREIGHTER`                     | `B762`    | `76X`     |
            | `BOEING_767_200ER_BELLY_FREIGHT`               | `B762`    | `762`     |
            | `BOEING_767_300_BELLY_FREIGHT`                 | `B763`    | `763`     |
            | `BOEING_767_300_FREIGHTER`                     | `B763`    | `76Y`     |
            | `BOEING_767_300BCF_FREIGHTER`                  | `B763`    | `76Y`     |
            | `BOEING_767_300BDSF_FREIGHTER`                 | `B763`    | `76Y`     |
            | `BOEING_767_300ER_BELLY_FREIGHT`               | `B763`    | `76T`     |
            | `BOEING_767_300ER_WINGLETS_BELLY_FREIGHT`      | `B763`    | `76W`     |
            | `BOEING_767_400ER_BELLY_FREIGHT`               | `B764`    | `764`     |
            | `BOEING_777_200_BELLY_FREIGHT`                 | `B772`    | `772`     |
            | `BOEING_777_200ER_BELLY_FREIGHT`               | `B772`    | `772`     |
            | `BOEING_777_200F_FREIGHTER`                    | `B77L`    | `77X`     |
            | `BOEING_777_200LR_BELLY_FREIGHT`               | `B77L`    | `77L`     |
            | `BOEING_777_300_BELLY_FREIGHT`                 | `B773`    | `773`     |
            | `BOEING_777_300ER_BELLY_FREIGHT`               | `B77W`    | `77W`     |
            | `BOEING_777_300ERSF_FREIGHTER`                 | `B773`    | `77W`     |
            | `BOEING_787_8_BELLY_FREIGHT`                   | `B788`    | `788`     |
            | `BOEING_787_9_BELLY_FREIGHT`                   | `B789`    | `789`     |
            | `BOEING_787_10_BELLY_FREIGHT`                  | `B78X`    | `781`     |

            </details>

            <details>
            <summary style="font-weight: bold">Bombardier aircraft</summary>

            | System Identifier                              | ICAO code | IATA code |
            |------------------------------------------------|-----------|-----------|
            | `BOMBARDIER_CRJ100_ER_BELLY_FREIGHT`           | `CRJ1`    | `CR1`     |
            | `BOMBARDIER_CRJ100_LR_BELLY_FREIGHT`           | `CRJ1`    | `CR1`     |
            | `BOMBARDIER_CRJ200_ER_BELLY_FREIGHT`           | `CRJ2`    | `CR2`     |
            | `BOMBARDIER_CRJ200_LR_BELLY_FREIGHT`           | `CRJ2`    | `CR2`     |
            | `BOMBARDIER_CRJ200PF_ER_FREIGHTER`             | `CRJ2`    | `CRF`     |
            | `BOMBARDIER_CRJ200PF_LR_FREIGHTER`             | `CRJ2`    | `CRF`     |
            | `BOMBARDIER_CRJ200SF_ER_FREIGHTER`             | `CRJ2`    | `CRF`     |
            | `BOMBARDIER_CRJ200SF_LR_FREIGHTER`             | `CRJ2`    | `CRF`     |
            | `BOMBARDIER_CRJ550_BELLY_FREIGHT`              | `CRJ7`    | `CR7`     |
            | `BOMBARDIER_CRJ700_BELLY_FREIGHT`              | `CRJ7`    | `CR7`     |
            | `BOMBARDIER_CRJ705_BELLY_FREIGHT`              | `CRJ9`    | `CRA`     |
            | `BOMBARDIER_CRJ900_BELLY_FREIGHT`              | `CRJ9`    | `CR9`     |
            | `BOMBARDIER_CRJ1000_BELLY_FREIGHT`             | `CRJX`    | `CRK`     |

            </details>

            <details>
            <summary style="font-weight: bold">British Aerospace aircraft</summary>

            | System Identifier                              | ICAO code | IATA code |
            |------------------------------------------------|-----------|-----------|
            | `BRITISH_AEROSPACE_ATP_BELLY_FREIGHT`          | `ATP`     | `ATP`     |
            | `BRITISH_AEROSPACE_BAE_146_100_BELLY_FREIGHT`  | `B461`    | `141`     |
            | `BRITISH_AEROSPACE_BAE_146_100QC_FREIGHTER`    | `B461`    | `14X`     |
            | `BRITISH_AEROSPACE_BAE_146_100QT_FREIGHTER`    | `B461`    | `14X`     |
            | `BRITISH_AEROSPACE_BAE_146_200_BELLY_FREIGHT`  | `B462`    | `142`     |
            | `BRITISH_AEROSPACE_BAE_146_200QC_FREIGHTER`    | `B462`    | `14Y`     |
            | `BRITISH_AEROSPACE_BAE_146_200QT_FREIGHTER`    | `B462`    | `14Y`     |
            | `BRITISH_AEROSPACE_BAE_146_300_BELLY_FREIGHT`  | `B463`    | `143`     |
            | `BRITISH_AEROSPACE_BAE_146_300QC_FREIGHTER`    | `B463`    | `14Z`     |
            | `BRITISH_AEROSPACE_BAE_146_300QT_FREIGHTER`    | `B463`    | `14Z`     |
            | `BRITISH_AEROSPACE_JETSTREAM_31_BELLY_FREIGHT` | `JS31`    | `J31`     |
            | `BRITISH_AEROSPACE_JETSTREAM_32_BELLY_FREIGHT` | `JS32`    | `J32`     |
            | `BRITISH_AEROSPACE_JETSTREAM_41_BELLY_FREIGHT` | `JS41`    | `J41`     |

            </details>

            <details>
            <summary style="font-weight: bold">Britten-Norman aircraft</summary>

            | System Identifier                              | ICAO code | IATA code |
            |------------------------------------------------|-----------|-----------|
            | `BRITTEN_NORMAN_BN_2_ISLANDER_BELLY_FREIGHT`   | `BN2P`    | `BNI`     |
            | `BRITTEN_NORMAN_BN_2_ISLANDER_FREIGHTER`       | `BN2P`    | `BNI`     |
            | `BRITTEN_NORMAN_TRISLANDER_BELLY_FREIGHT`      | `TRIS`    | `BNT`     |

            </details>

            <details>
            <summary style="font-weight: bold">CASA / IPTN aircraft</summary>

            | System Identifier                              | ICAO code | IATA code |
            |------------------------------------------------|-----------|-----------|
            | `CASA_C_212_100_BELLY_FREIGHT`                 | `C212`    | `CS2`     |
            | `CASA_C_212_100_FREIGHTER`                     | `C212`    | `CS2`     |
            | `CASA_C_212_200_BELLY_FREIGHT`                 | `C212`    | `CS2`     |
            | `CASA_C_212_200_FREIGHTER`                     | `C212`    | `CS2`     |
            | `CASA_C_212_300_BELLY_FREIGHT`                 | `C212`    | `CS2`     |
            | `CASA_C_212_300_FREIGHTER`                     | `C212`    | `CS2`     |
            | `CASA_C_212_400_BELLY_FREIGHT`                 | `C212`    | `CS2`     |
            | `CASA_C_212_400_FREIGHTER`                     | `C212`    | `CS2`     |
            | `CASA_NC_212I_BELLY_FREIGHT`                   | `C212`    | `CS2`     |
            | `CASA_NC_212I_FREIGHTER`                       | `C212`    | `CS2`     |
            | `CASA_CN_235_BELLY_FREIGHT`                    | `CN35`    | `CS5`     |
            | `CASA_CN_235_FREIGHTER`                        | `CN35`    | `CS5`     |

            </details>

            <details>
            <summary style="font-weight: bold">Cessna aircraft</summary>

            | System Identifier                              | ICAO code | IATA code |
            |------------------------------------------------|-----------|-----------|
            | `CESSNA_208_BELLY_FREIGHT`                     | `C208`    | `CNC`     |
            | `CESSNA_208A_FREIGHTER`                        | `C208`    | `CNC`     |
            | `CESSNA_208B_BELLY_FREIGHT`                    | `C208`    | `CNC`     |
            | `CESSNA_208B_FREIGHTER`                        | `C208`    | `CNC`     |
            | `CESSNA_408_BELLY_FREIGHT`                     | `C408`    | `CNT`     |
            | `CESSNA_408_FREIGHTER`                         | `C408`    | `CNT`     |

            </details>

            <details>
            <summary style="font-weight: bold">Convair aircraft</summary>

            | System Identifier                              | ICAO code | IATA code |
            |------------------------------------------------|-----------|-----------|
            | `CONVAIR_CV_580F_FREIGHTER`                    | `CVLT`    | `CVF`     |
            | `CONVAIR_CV_5800F_FREIGHTER`                   | `CVLT`    | `CVF`     |

            </details>

            <details>
            <summary style="font-weight: bold">Dassault aircraft</summary>

            | System Identifier                              | ICAO code | IATA code |
            |------------------------------------------------|-----------|-----------|
            | `DASSAULT_FALCON_20DC_FREIGHTER`               | `FA20`    | `DF2`     |

            </details>

            <details>
            <summary style="font-weight: bold">De Havilland Canada aircraft</summary>

            | System Identifier                              | ICAO code | IATA code |
            |------------------------------------------------|-----------|-----------|
            | `DE_HAVILLAND_CANADA_DHC_2_BELLY_FREIGHT`      | `DHC2`    | `DHP`     |
            | `DE_HAVILLAND_CANADA_DHC_2_FREIGHTER`          | `DHC2`    | `DHP`     |
            | `DE_HAVILLAND_CANADA_DHC_2T_BELLY_FREIGHT`     | `DH2T`    | `DHR`     |
            | `DE_HAVILLAND_CANADA_DHC_2T_FREIGHTER`         | `DH2T`    | `DHR`     |
            | `DE_HAVILLAND_CANADA_DHC_3_BELLY_FREIGHT`      | `DHC3`    | `DHS`     |
            | `DE_HAVILLAND_CANADA_DHC_3_FREIGHTER`          | `DHC3`    | `DHS`     |
            | `DE_HAVILLAND_CANADA_DHC_3T_BELLY_FREIGHT`     | `DH3T`    | `DHL`     |
            | `DE_HAVILLAND_CANADA_DHC_3T_FREIGHTER`         | `DH3T`    | `DHL`     |
            | `DE_HAVILLAND_CANADA_DHC_6_100_BELLY_FREIGHT`  | `DHC6`    | `DHT`     |
            | `DE_HAVILLAND_CANADA_DHC_6_100_FREIGHTER`      | `DHC6`    | `DHT`     |
            | `DE_HAVILLAND_CANADA_DHC_6_300_BELLY_FREIGHT`  | `DHC6`    | `DHT`     |
            | `DE_HAVILLAND_CANADA_DHC_6_300_FREIGHTER`      | `DHC6`    | `DHT`     |
            | `DE_HAVILLAND_CANADA_DHC_6_400_BELLY_FREIGHT`  | `DHC6`    | `DHT`     |
            | `DE_HAVILLAND_CANADA_DHC_6_400_FREIGHTER`      | `DHC6`    | `DHT`     |
            | `DE_HAVILLAND_CANADA_DHC_7_BELLY_FREIGHT`      | `DHC7`    | `DH7`     |
            | `DE_HAVILLAND_CANADA_DHC_8_100_BELLY_FREIGHT`  | `DH8A`    | `DH1`     |
            | `DE_HAVILLAND_CANADA_DHC_8_100PF_FREIGHTER`    | `DH8A`    | `DH1`     |
            | `DE_HAVILLAND_CANADA_DHC_8_200_BELLY_FREIGHT`  | `DH8B`    | `DH2`     |
            | `DE_HAVILLAND_CANADA_DHC_8_300_BELLY_FREIGHT`  | `DH8C`    | `DH3`     |
            | `DE_HAVILLAND_CANADA_DHC_8_400_BELLY_FREIGHT`  | `DH8D`    | `DH4`     |
            | `DE_HAVILLAND_CANADA_DHC_8_402PF_FREIGHTER`    | `DH8D`    | `DH4`     |

            </details>

            <details>
            <summary style="font-weight: bold">Douglas aircraft</summary>

            | System Identifier                              | ICAO code | IATA code |
            |------------------------------------------------|-----------|-----------|
            | `DOUGLAS_DC3_FREIGHTER`                        | `DC3`     | `D3F`     |

            </details>

            <details>
            <summary style="font-weight: bold">Embraer aircraft</summary>

            | System Identifier                              | ICAO code | IATA code |
            |------------------------------------------------|-----------|-----------|
            | `EMBRAER_E170_AR_BELLY_FREIGHT`                | `E170`    | `E70`     |
            | `EMBRAER_E170_LR_BELLY_FREIGHT`                | `E170`    | `E70`     |
            | `EMBRAER_E175_AR_BELLY_FREIGHT`                | `E75L`    | `E75`     |
            | `EMBRAER_E175_LR_BELLY_FREIGHT`                | `E75L`    | `E75`     |
            | `EMBRAER_E190_AR_BELLY_FREIGHT`                | `E290`    | `290`     |
            | `EMBRAER_E190_LR_BELLY_FREIGHT`                | `E190`    | `E90`     |
            | `EMBRAER_E195_AR_BELLY_FREIGHT`                | `E295`    | `295`     |
            | `EMBRAER_E195_LR_BELLY_FREIGHT`                | `E195`    | `E95`     |
            | `EMBRAER_EMB_110_BELLY_FREIGHT`                | `E110`    | `EMB`     |
            | `EMBRAER_EMB_110_FREIGHTER`                    | `E110`    | `EMB`     |
            | `EMBRAER_EMB_120_BELLY_FREIGHT`                | `E120`    | `EM2`     |
            | `EMBRAER_EMB_120FC_FREIGHTER`                  | `E120`    | `EM2`     |
            | `EMBRAER_EMB_120QC_FREIGHTER`                  | `E120`    | `EM2`     |
            | `EMBRAER_ERJ_135_BELLY_FREIGHT`                | `E135`    | `ER3`     |
            | `EMBRAER_ERJ_140_BELLY_FREIGHT`                | `E135`    | `ERD`     |
            | `EMBRAER_ERJ_145_BELLY_FREIGHT`                | `E145`    | `ER4`     |

            </details>

            <details>
            <summary style="font-weight: bold">Fairchild Dornier aircraft</summary>

            | System Identifier                              | ICAO code | IATA code |
            |------------------------------------------------|-----------|-----------|
            | `FAIRCHILD_DORNIER_DO_228_BELLY_FREIGHT`       | `D228`    | `D28`     |
            | `FAIRCHILD_DORNIER_DO_228_FREIGHTER`           | `D228`    | `D28`     |
            | `FAIRCHILD_DORNIER_DO_328_BELLY_FREIGHT`       | `D328`    | `D38`     |
            | `FAIRCHILD_DORNIER_328JET_BELLY_FREIGHT`       | `J328`    | `FRJ`     |

            </details>

            <details>
            <summary style="font-weight: bold">Fairchild Swearingen aircraft</summary>

            | System Identifier                              | ICAO code | IATA code |
            |------------------------------------------------|-----------|-----------|
            | `FAIRCHILD_SWEARINGEN_METRO_II_BELLY_FREIGHT`  | `SW2`     | `SWM`     |
            | `FAIRCHILD_SWEARINGEN_METRO_II_FREIGHTER`      | `SW2`     | `SWM`     |
            | `FAIRCHILD_SWEARINGEN_METRO_III_BELLY_FREIGHT` | `SW3`     | `SWM`     |
            | `FAIRCHILD_SWEARINGEN_METRO_III_FREIGHTER`     | `SW3`     | `SWM`     |
            | `FAIRCHILD_SWEARINGEN_METRO_23_BELLY_FREIGHT`  | `SW4`     | `SWM`     |

            </details>

            <details>
            <summary style="font-weight: bold">Fokker aircraft</summary>

            | System Identifier                              | ICAO code | IATA code |
            |------------------------------------------------|-----------|-----------|
            | `FOKKER_F27_BELLY_FREIGHT`                     | `F27`     | `F27`     |
            | `FOKKER_F27_FREIGHTER`                         | `F27`     | `F27`     |
            | `FOKKER_F50_BELLY_FREIGHT`                     | `F50`     | `F50`     |
            | `FOKKER_F50_FREIGHTER`                         | `F50`     | `F5F`     |
            | `FOKKER_F70_BELLY_FREIGHT`                     | `F70`     | `F70`     |
            | `FOKKER_100_BELLY_FREIGHT`                     | `F100`    | `100`     |
            | `FOKKER_100QC_FREIGHTER`                       | `F100`    | `100`     |

            </details>

            <details>
            <summary style="font-weight: bold">Harbin aircraft</summary>

            | System Identifier                              | ICAO code | IATA code |
            |------------------------------------------------|-----------|-----------|
            | `HARBIN_Y12_BELLY_FREIGHT`                     | `Y12`     | `YN2`     |
            | `HARBIN_Y12F_FREIGHTER`                        | `Y12`     | `YN2`     |

            </details>

            <details>
            <summary style="font-weight: bold">Hawker Siddeley aircraft</summary>

            | System Identifier                              | ICAO code | IATA code |
            |------------------------------------------------|-----------|-----------|
            | `HAWKER_SIDDELEY_HS_748_FREIGHTER`             | `A748`    | `HS7`     |

            </details>

            <details>
            <summary style="font-weight: bold">Ilyushin aircraft</summary>

            | System Identifier                              | ICAO code | IATA code |
            |------------------------------------------------|-----------|-----------|
            | `ILYUSHIN_IL_18_FREIGHTER`                     | `IL18`    | `IL8`     |
            | `ILYUSHIN_IL_76TD_90_FREIGHTER`                | `IL76`    | `IL7`     |
            | `ILYUSHIN_IL_76TD_FREIGHTER`                   | `IL76`    | `IL7`     |
            | `ILYUSHIN_IL_96_300_BELLY_FREIGHT`             | `IL96`    | `I93`     |
            | `ILYUSHIN_IL_96_400_BELLY_FREIGHT`             | `IL96`    | `I93`     |
            | `ILYUSHIN_IL_96_400T_FREIGHTER`                | `IL96`    | `I9F`     |
            | `ILYUSHIN_IL_96M_BELLY_FREIGHT`                | `IL96`    | `I9M`     |
            | `ILYUSHIN_IL_96T_FREIGHTER`                    | `IL96`    | `I9Y`     |
            | `ILYUSHIN_IL114_BELLY_FREIGHT`                 | `I114`    | `I14`     |
            | `ILYUSHIN_IL114_FREIGHTER`                     | `I114`    | `I14`     |

            </details>

            <details>
            <summary style="font-weight: bold">Let Kunovice aircraft</summary>

            | System Identifier                              | ICAO code | IATA code |
            |------------------------------------------------|-----------|-----------|
            | `LET_KUNOVICE_L_410_BELLY_FREIGHT`             | `L410`    | `L4T`     |
            | `LET_KUNOVICE_L_410NG_FREIGHTER`               | `L410`    | `L4T`     |
            | `LET_KUNOVICE_L_410T_FREIGHTER`                | `L410`    | `L4T`     |

            </details>

            <details>
            <summary style="font-weight: bold">Lockheed aircraft</summary>

            | System Identifier                              | ICAO code | IATA code |
            |------------------------------------------------|-----------|-----------|
            | `LOCKHEED_L_100_FREIGHTER`                     | `C130`    | `LOH`     |
            | `LOCKHEED_L_188_FREIGHTER`                     | `L188`    | `LOF`     |

            </details>

            <details>
            <summary style="font-weight: bold">McDonnell Douglas aircraft</summary>

            | System Identifier                              | ICAO code | IATA code |
            |------------------------------------------------|-----------|-----------|
            | `MCDONNELL_DOUGLAS_DC_10_30F_FREIGHTER`        | `DC10`    | `D1Y`     |
            | `MCDONNELL_DOUGLAS_DC8_55F_FREIGHTER`          | `DC85`    | `D8T`     |
            | `MCDONNELL_DOUGLAS_DC8_62F_FREIGHTER`          | `DC86`    | `D8X`     |
            | `MCDONNELL_DOUGLAS_DC8_63F_FREIGHTER`          | `DC86`    | `D8X`     |
            | `MCDONNELL_DOUGLAS_DC8_73F_FREIGHTER`          | `DC87`    | `D8Y`     |
            | `MCDONNELL_DOUGLAS_DC9_10_BELLY_FREIGHT`       | `DC91`    | `D91`     |
            | `MCDONNELL_DOUGLAS_DC9_10C_FREIGHTER`          | `DC91`    | `D9X`     |
            | `MCDONNELL_DOUGLAS_DC9_10F_FREIGHTER`          | `DC91`    | `D9X`     |
            | `MCDONNELL_DOUGLAS_DC9_20_BELLY_FREIGHT`       | `DC92`    | `D92`     |
            | `MCDONNELL_DOUGLAS_DC9_30_BELLY_FREIGHT`       | `DC93`    | `D93`     |
            | `MCDONNELL_DOUGLAS_DC9_30F_FREIGHTER`          | `DC93`    | `D9C`     |
            | `MCDONNELL_DOUGLAS_DC9_40_BELLY_FREIGHT`       | `DC94`    | `D94`     |
            | `MCDONNELL_DOUGLAS_DC9_50_BELLY_FREIGHT`       | `DC95`    | `D95`     |
            | `MCDONNELL_DOUGLAS_MD_11_FREIGHTER`            | `MD11`    | `M1F`     |
            | `MCDONNELL_DOUGLAS_MD_81_BELLY_FREIGHT`        | `MD81`    | `M81`     |
            | `MCDONNELL_DOUGLAS_MD_81SF_FREIGHTER`          | `MD81`    | `M81`     |
            | `MCDONNELL_DOUGLAS_MD_82_BELLY_FREIGHT`        | `MD82`    | `M82`     |
            | `MCDONNELL_DOUGLAS_MD_82SF_FREIGHTER`          | `MD82`    | `M82`     |
            | `MCDONNELL_DOUGLAS_MD_83_BELLY_FREIGHT`        | `MD83`    | `M83`     |
            | `MCDONNELL_DOUGLAS_MD_83SF_FREIGHTER`          | `MD83`    | `M83`     |
            | `MCDONNELL_DOUGLAS_MD_87_BELLY_FREIGHT`        | `MD87`    | `M87`     |
            | `MCDONNELL_DOUGLAS_MD_88_BELLY_FREIGHT`        | `MD88`    | `M88`     |
            | `MCDONNELL_DOUGLAS_MD_88SF_FREIGHTER`          | `MD88`    | `M88`     |

            </details>

            <details>
            <summary style="font-weight: bold">Mitsubishi aircraft</summary>

            | System Identifier                              | ICAO code | IATA code |
            |------------------------------------------------|-----------|-----------|
            | `MITSUBISHI_MU_2_FREIGHTER`                    | `MU2`     | `MU2`     |
            | `MITSUBISHI_MU_2_LONG_FUSELAGE_BELLY_FREIGHT`  | `MU2`     | `MU2`     |
            | `MITSUBISHI_MU_2_SHORT_FUSELAGE_BELLY_FREIGHT` | `MU2`     | `MU2`     |

            </details>

            <details>
            <summary style="font-weight: bold">PZL Mielec aircraft</summary>

            | System Identifier                              | ICAO code | IATA code |
            |------------------------------------------------|-----------|-----------|
            | `PZL_MIELEC_M28_FREIGHTER`                     | `AN28`    | `A28`     |

            </details>

            <details>
            <summary style="font-weight: bold">Pilatus aircraft</summary>

            | System Identifier                              | ICAO code | IATA code |
            |------------------------------------------------|-----------|-----------|
            | `PILATUS_PC_6_BELLY_FREIGHT`                   | `PC6T`    | `PL6`     |
            | `PILATUS_PC_6_FREIGHTER`                       | `PC6T`    | `PL6`     |
            | `PILATUS_PC_12_BELLY_FREIGHT`                  | `PC12`    | `PL2`     |
            | `PILATUS_PC_12_FREIGHTER`                      | `PC12`    | `PL2`     |

            </details>

            <details>
            <summary style="font-weight: bold">Piper aircraft</summary>

            | System Identifier                              | ICAO code | IATA code |
            |------------------------------------------------|-----------|-----------|
            | `PIPER_PA_31_BELLY_FREIGHT`                    | `PA31`    | `PA2`     |
            | `PIPER_PA_31_FREIGHTER`                        | `PA31`    | `PA2`     |
            | `PIPER_PA_32_BELLY_FREIGHT`                    | `PA32`    | `PA1`     |
            | `PIPER_PA_32_FREIGHTER`                        | `PA32`    | `PA1`     |
            | `PIPER_PA_34_BELLY_FREIGHT`                    | `PA34`    | `PA2`     |
            | `PIPER_PA_34_FREIGHTER`                        | `PA34`    | `PA2`     |
            | `PIPER_PA_60_BELLY_FREIGHT`                    | `AEST`    | `PA2`     |
            | `PIPER_PA_60_FREIGHTER`                        | `AEST`    | `PA2`     |

            </details>

            <details>
            <summary style="font-weight: bold">Raytheon Beechcraft aircraft</summary>

            | System Identifier                              | ICAO code | IATA code |
            |------------------------------------------------|-----------|-----------|
            | `RAYTHEON_BEECHCRAFT_1900C_BELLY_FREIGHT`      | `B190`    | `BES`     |
            | `RAYTHEON_BEECHCRAFT_1900C_FREIGHTER`          | `B190`    | `BES`     |
            | `RAYTHEON_BEECHCRAFT_1900D_BELLY_FREIGHT`      | `B190`    | `BEH`     |
            | `RAYTHEON_BEECHCRAFT_1900D_FREIGHTER`          | `B190`    | `BEH`     |

            </details>

            <details>
[...]
