#content-area {
    padding-left: 4em;
    max-width: 100%;
}
#sidebar {
    display: none;
}
.prose-sm {
    font-size: 16px;
}
@media (max-width: 768px) {
    #content-area {
        padding-left: 0;
    }
    .prose-sm {
        font-size: 14px;
    }
}